NEXT_PUBLIC_KAKAO_MAP_API_KEY=a4aaee5b52a34a0a2b92f83cd4231261
NEXT_PUBLIC_SUPABASE_URL=https://ykcnmlddvyytwryrlima.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlrY25tbGRkdnl5dHdyeXJsaW1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ4MzEwNzIsImV4cCI6MjA4MDQwNzA3Mn0.b8gOBW48nT7VwY1Dq32QMWs5oZdUAoPIolR90FYB828