@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    /* LineTech Dark Theme - Default */
    --background: 0 0% 13.3%; /* #222222 */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 0 0% 13.3%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 13.3%;
    --popover-foreground: 0 0% 100%;
    --primary: 28 91% 54%; /* #f58220 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%; /* White button */
    --secondary-foreground: 0 0% 13.3%; /* #222222 */
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 28 91% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 28 91% 54%;
    --chart-1: 28 91% 54%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
